{% extends 'iShoe/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>铁鞋管理</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <img class="icon" src="/statics/comm.png" alt="" width="10px" height="10px">
    <span>铁鞋列表</span>
    <div class="table">
        <table>
            <tr>
                <th>序号</th>
                <th>编号</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

        </table>
    </div>
    {% endblock %}
</body>

</html>